server {
    listen ${NGINX_PORT};
    server_name db.wikiforest.com;

    access_log /web/logs/nginx/phpmyadmin.access.log;
    error_log  /web/logs/nginx/phpmyadmin.error.log;
    charset utf-8;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_pass phpmyadmin:9000;
    }
}
